@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./root.css');
* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box;
}

.font-main {
    font-family: 'Poppins', sans-serif;
}


/* common-class */

.custom_container {
    max-width: 1100px !important;
}

.bg_black {
    background-color: var( --color-secandary);
}

.pt_custom_19 {
    padding-top: 19px;
}

.pt_custom_18 {
    padding-top: 18px;
}


/* section-1 */

.img_radius {
    border-radius: 20px;
}

.mw_1096 {
    max-width: 1096px;
}

.pt_custom_32 {
    padding-top: 32px;
}

.red_line {
    position: relative;
}

.red_line::before {
    content: '';
    position: absolute;
    width: 50.84px;
    height: 4px;
    top: 25px;
    background-color: var(--bg-line)
}


/* footer */

.pt_custom_27 {
    padding-top: 20px;
}

.line_footer {
    width: 100%;
    height: 1px;
    background-color: var(--color-tertiary);
}

footer ul li a {
    color: var(--color-tertiary);
    transition: all linear 0.3s;
}

footer ul li a:hover {
    -webkit-text-stroke: 0.6px #BAB9B7;
}

@media (min-width:575.5px) {
    .pt_custom_27 {
        padding-top: 27px;
    }
    .red_line::before {
        content: '';
        position: absolute;
        width: 87.84px;
        height: 4px;
        top: 25px;
        background-color: var(--bg-line)
    }
    .pb_custom_140 {
        padding-bottom: 140px;
    }
}